@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Arimo";
}


*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

#root{
position: relative;
}



.list {
  display: flex;
  list-style: none;
}

.link {
  color: #3d3d3d;
  position: relative;
}


.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #716B6B;
  transition: all 250ms ease-in-out;
}

.link:hover::after {
  width: 100%;
  left: 0;
}

.link1 {

  position: relative;
}

.link1::after {
  content: "";
  position: absolute;
  bottom: -10;
  margin-top: 20px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #0F1231;
  transition: all 250ms ease-in-out;
}

.link1:hover::after {
  width: 100%;
  left: 0;
}


#box {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: white;
}

#box::before,
#box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;


}

#box:hover::before {
  background: conic-gradient(#2C9ED7 20deg, transparent 120deg);
  animation: rotate 1s infinite linear;
}

#box:hover::after {
  background: white;
  height: 99%;
  width: 99%;
  box-shadow: 5px 5px 15px #0000 inset;
  border-radius: 10px;


}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.content {

  line-height: 1;
  text-align: center;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #3d3d3d 67%, rgb(127, 226, 188) 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 2s ease-in-out infinite;
}


.content span {
  font-size: 80px;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 100% 0;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 0 100%;
  }

  100% {
    background-position: 0 0;
  }
}

.col {




  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #3d3d3d 67%, rgb(117, 218, 180) 100%);
  background-size: auto auto;
  background-clip: border-box;

  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;


}



.col span {
  font-weight: 300;
  font-size: 43px;
  display: block;
}

.input-phone-number input:focus{
  outline: none !important;
  border:none !important;
  box-shadow: none !important;
}

.image {
  position: relative;
  overflow: hidden;
  border: 5px solid #ffff;
  width: 270px;
  height: 250px;


}

.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(var(--zoom, 1));
  transform-origin: var(--x) var(--y);
  transition: transform 0.3s ease;
}

.image:hover {
  --zoom: 1.4;
} 